<div class="messages">
  <ol class="chat">
    <li class="other">
      <div class="msg"><p>Te vienes a cenar al centro?</p></div>
      <time>10:00 AM</time>
    </li>
    <li class="self">
      <!-- <div class="avatar"></div> -->
      <div class="msg"><p>Aún estoy haciendo el contexto de Góngora...</p></div>
      <time>10:00 AM</time>
    </li>
    <li class="other">
      <div class="msg"><p>Qué contexto de Góngora?</p></div>
      <time>10:00 AM</time>
    </li>
    <li class="self">
      <div class="msg"><p>Es para mañana...</p></div>
      <time>10:00 AM</time>
    </li>
    <li class="other">
      <div class="msg"><p>Pásamelo!</p></div>
      <time>10:00 AM</time>
    </li>
    <li class="self">
      <div class="msg"><p>Gracias!</p></div>
      <time>10:00 AM</time>
    </li>
    <li class="other">
      <div class="msg"><p>Gracias!</p></div>
      <time>10:00 AM</time>
    </li>
    <div class="day">-- Today --</div>
    <li class="self">
      <div class="msg"><p>Te apetece jugar a Minecraft?</p></div>
      <time>10:00 AM</time>
    </li>
    <li class="other">
      <div class="msg"><p>Venga va, hace ya mucho que no juego...</p></div>
      <time>10:00 AM</time>
    </li>
    <li class="self">
      <div class="msg">
        <p>Ehh, me crashea el Launcher... Ehh, me crashea el Launcher...</p>
      </div>
      <time>10:00 AM</time>
    </li>
    <li class="other">
      <div class="msg"><p></p></div>
      <time>10:00 PM</time>
    </li>
    <li class="self">
      <div class="msg">
        <p>Es broma</p>
        <p>
          <span></span><span></span><span></span><span></span><span></span
          ><span></span>
        </p>
      </div>
      <time>10:00 PM</time>
    </li>
    <li class="other">
      <div class="msg"><p>Copón</p></div>
      <time>10:00 PM</time>
    </li>
  </ol>
</div>
<!-- /Messages -->
<!-- chat-input -->
<div class="chat-input  d-flex align-items-center">
  <div class="col-2 col-sm-1">
    <i class="fa fa-paperclip fa-rotate-180"></i>
  </div>
  <div class="col-11 form-container">
    <form>
      <div class="form-row">
        <div class="col-8 col-sm-10">
          <div class="form-group mb-2">
            <input
              type="text"
              class="form-control-plaintext"
              placeholder="Enter your message"
              value=""
            />
          </div>
        </div>
        <div class="col-3 col-sm-2">
          <button class="btn btn-main mb-2">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /chat-input -->
