<div class="messages">
  <ol class="chat">
    <li *ngFor="let message of myConversation" class="{{ message.sender }}">
      <div class="msg">
        <p>{{ message.msg }}</p>
      </div>
      <time>{{ message.time }}</time>
    </li>
  </ol>
</div>
<!-- /Messages -->
<!-- chat-input -->
<div class="chat-input  d-flex align-items-center">
  <div class="col-2 col-sm-1">
    <i class="fa fa-paperclip fa-rotate-180"></i>
  </div>
  <div class="col-11 form-container">
    <div class="form-row">
      <div class="col-8 col-sm-10">
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control-plaintext"
            placeholder="Enter your message"
            id="msg_box"
            (keyup.enter)="onSend(msg_box.value)"
            #msg_box
          />
        </div>
      </div>
      <div class="col-3 col-sm-2">
        <button class="btn btn-main mb-2" (click)="onSend(msg_box.value)">
          Send
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /chat-input -->
