.contact-item{
    margin :0px 0px;
    display: flex;
    align-items: center;
    height:70px;
    padding:10px;
  }
  .contact-item.active{
    background: #F7F7F7;
  }
  .contact-list .list-unstyled li:first-child{
    margin-top: 0 !important;
  } 
  .contact-item .media-body p{
    margin-bottom: 0;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
    display: inline-block;
  }
  .contact-item .media-body span{
      float: right;
      left: 30px;
      position: relative;
  }
  
  .contact-item  time{
   float: right;
   font-size: 8px;
   color: #777;
  }